global
    user haproxy
    group haproxy
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend main *:80
    default_backend nodes

backend nodes
    # Balancer
    balance leastconn
    appsession JSESSIONID len 64 timeout 15m
    # Options
    option forwardfor
    option httpchk GET /health
    # Servers
{{ range gets "/webapps/*" }}
{{ $id := index (split .Key "/") 2 }}
    server app{{ $id }} {{ .Value }} check
{{ end }}

listen admin *:9090
    stats enable
    stats uri /
